<!-- Dědí základní šablonu base.html -->
{% extends "base.html" %}

<!-- Vložení informace do bloku titulu stránky -->
{% block title %}{{ view_title }}{% endblock %}

<!-- Obsahový blok stránky -->
{% block content %}
    <div class="row mb-3">
        <div class="col-sm-12 bg-warning">
            <h2 class="display-4 text-center">Seznam filmů</h2>
        </div>
    </div>
    <div class="row">
        <!-- Postupné načtení filmů z proměnné films_list -->
        {% for film in films_list %}
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card">
                {% if film.poster %}
                <img class="card-img-top" src="{{ film.poster.url }}" alt="{{ film.title }}">
                {% endif %}
                <div class="card-body">
                    <!-- Odkaz ještě musí být doplněn o adresu stránky s detailem filmu -->
                    <h4 class="card-title"><a href="{% url 'film_detail' film.pk %}">{{ film.title }}</a></h4>
                    <!-- Výpis všech žánrů filmu - odkaz bude posléze ukazovat všechny filmy daného žánru -->
                    <p class="card-text">{% for genre in film.genres.all %}<a href="{% url 'film_genre' genre.name %}" class="btn btn-light">{{ genre.name }}</a> {% endfor %}</p>
                    <!-- Odkaz ještě musí být doplněn o adresu stránky s detailem filmu -->
                    <a href="{% url 'film_detail' film.pk %}" class="btn btn-primary">Podrobnosti</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a href="{% url 'film_create' %}" class="btn btn-success">Nový film</a>
        </div>
    </div>
{% endblock %}