{% extends 'base.html' %}

{% block title %}Smazání filmu{% endblock %}
{% block content %}
    <div class="row mb-3">
        <div class="col-sm-12 bg-warning">
            <h2 class="display-4 text-center">Potvrení smazání filmu</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Určitě chcete smazat tento film: {{ film.title }}?</p>
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Ano, smazat</button>
            </form>
        </div>
    </div>
{% endblock %}