{% load mathfilters %}
<div>
    {% for film in top_ten %}
        <div class="row mb-4 border-bottom">
            <div class="col-md-2">
                <img src="{{ film.poster.url }}" alt="{{ film.title }}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h4>{{ film.title|upper }}</h4>
                <p>{{ film.plot|truncatewords:30 }}</p>
                <p>Stopáž: {{ film.runtime }} min., datum uvedení: {{ film.release_date|date:'d. m. Y' }}</p>
                <p>Žánry:
                    {% for genre in film.genres.all %}
                        <a href="#" class="btn btn-info">{{ genre.name }}</a>
                    {% endfor %}
                </p>
            </div>
            <div class="col-md-2">
                <span class="display-4">{{ film.rate }}</span>
                <div class="progress">
                    <div class="progress-bar bg-success" style="width: {{ film.rate|mul:'10'|floatformat }}%"></div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>